body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #322C2B;
  }

  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #E4C59E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1, h3 {
    margin-top: -10px;
  }

  h1, h2, h3 {
    text-align: center;
  }

  img {
    margin-left: 38%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 48%;
  }

  .intro {
    padding: 10px;
    word-spacing: .3em;
    text-align: center;
  }

  .quote {
    text-align: center;
    font-style: italic;
  }

  li {
    padding: 10px;
    list-style-type: none;
    margin-right: 45px;
    margin-bottom: 10px;
  }
  
  hr {
    border-color: #322C2B;
  }

  .bg, li {
    padding: 10px;
    border-style: solid;
    border-color: #803D3B;
    background-color: #AF8260;
  }