body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
}

.thanks {
    font-style: italic;
}

.form {
    max-width: 550px;
    margin: auto;
    padding: 20px;
    background-color: rgba(139, 81, 247, 0.653);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px; 
}

.inText {
    width: 98%;
    height: 30px;
    border-radius: 5px;
    background-color: aliceblue;
}

select {
    width: 99.25%;
    height: 34px;
    border-radius: 5px;
}

textarea {
    width: 98%;
    height: 70px;
}

button {
    width: 99.35%;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(185, 36, 223);
}

